.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

/* To center the D3 Scatter Plot */
.container-scatter-plot {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tooltip Style */
.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: grey;
    margin: 10px;
}
.highlight {
    margin: 2px;
    background-color: yellow;
}

