<!-- Begin page content -->
<div>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <!-- Button trigger modal -->
                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                            Launch Scatterplot modal
                        </button>
                        <app-scatter-plot></app-scatter-plot> -->
                    </div>
                </div>

                <div class="col-6">
                    <div>
                        <!-- <h1>Right</h1> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 container-left">
                    <h5>Placeholder for Tubemap diagram</h5>
                </div>
                <div class="col-6 container-right">
                    <app-scatter-plot></app-scatter-plot>
                </div>
            </div>
        </div>
    </main>
</div>