<!-- Begin page content -->
<div>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>                        
                        <button class="btn btn-primary">Show Scatterplot</button>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <h1>Right</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>